<!DOCTYPE html>
<html>
	<head>
		<title>WebRTC vs SocketIO - The Benchmarking</title>

		<link rel="icon" type="image/png" href="css/bargraph_favicon.png" />
		
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="css/main.css">

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/easyrtc/easyrtc.js"></script>

		<script src="js/commonRTC.js"></script>
		
		<script src="js/feedback.js"></script>
	</head>

	<body>
		<div class="container" style="background-color: #ABBAD4">
			<div class="row">
				<div class="col-md-4 text-center">	
					<div>
						<h4>WebRTC Responses</h4> 
						<div id="received-webRTC"></div>
					</div>
					<div>
						<h4>SocketIO Responses</h4>
						<div id="received-socketIO"></div>
					</div>
				</div>
				<div class="col-md-8 text-center">
					Charts...
				</div>
			</div>
		</div>
	</body>
</html>