<!DOCTYPE html>
<html>
	<head>
		<title>WebRTC vs SocketIO - The Starter</title>
		
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="/easyrtc/easyrtc.js"></script>

		<script src="js/commonRTC.js"></script>
		
		<script src="js/starter.js"></script>
	</head>

	<body>
		<div class="container" style="max-width: 600px; padding-top: 10%;">
			<div id="connectionRTC">Waiting for RTC connection...</div>
			<div id="connectionSocketIO">Waiting for SocketIO connection...</div>
			<div class="well text-center">
				<div>
					<button class="btn btn-default btn-lg btn-block" id="send" disabled>Start</button>
				</div>
			</div>
			<div id="info" class="text-center">
				This button will trigger five different requests to server using SocketIO and WebRTC
			</div>
			<div id="log" class="text-center"></div>
		</div>
	</body>
</html>