<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="css/bargraph_favicon.png" />

    	<title>WebRTC vs SocketIO - The Starter</title>

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="css/starter.css">

		<script src="/socket.io/socket.io.js"></script>
		<script src="/easyrtc/easyrtc.js"></script>

		<script src="js/commonRTC.js"></script>
		
		<script src="js/starter.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center"></div>
				<div class="col-md-2 text-center">	
					<div class="circle red">
						<span id="connectionRTC">RTC</span>
					</div>
				</div>
				<div class="col-md-2 text-center">	
					<div class="circle red">
						<span id="connectionSocketIO">SocketIO</span>
					</div>
				</div>
				<div class="col-md-4 text-center"></div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center"></div>
				<div class="col-md-6 text-center">
					<div class="well">
						<button class="btn btn-default btn-lg btn-block" id="send" disabled>Start</button>
					</div>
				</div>
				<div class="col-md-3 text-center"></div>
			</div>
			<div id="info" class="text-center">
				This button will trigger a message to server using SocketIO and WebRTC
			</div>
			<div id="log" class="text-center"></div>
		</div>
	</body>
</html>