html, body {
    height:100%;
}

.container {
	border: 1px solid black;
	height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.content {
	padding: 30px;
}

#received-webRTC, #received-socketIO {
	overflow: auto;
	height: 240px;
}

.margin-10 {
	margin: 10px;
}

.graphics {
	border-top: 1px solid black;
}