html, body {
    height: 100%;
}

.container {
	height: 100%;
}

.vcenter {
	/* add style for vertical middle alignment */
}

.content {
	padding: 30px;
}

#received-webRTC, #received-socketIO {
	overflow: auto;
	height: 120px;
}

.charts {
	/* add style for charts  */
}